<ul class="nav navbar-nav">
    <li class="dropdown" ng-repeat="menu in menus">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" ng-if="isVisible(menu)">{{menu.getOptions().name}}<b
                class="caret"></b></a>
        <ul class="dropdown-menu" ng-if="isVisible(menu)">
            <li ng-repeat="entry in menu.getFlattened() track by entry.id" ng-if="isVisible(entry)"
                ng-class="{'dropdown-header': entry.isGroup()}"
                ng-switch data-on="entry.isGroup()">
                <a ng-href="#{{entry.getOptions().path}}" ng-switch-when="false">
                    {{entry.getOptions().name}} <span ng-if="entry.getOptions().keymap" class="text-muted">{{entry.getOptions().keymap}}</span>
                </a>
                <span ng-switch-default>{{entry.getOptions().name}}</span>
            </li>
        </ul>
    </li>
</ul>