<div ng-repeat="parent in uiStack" class="alert alert-info"><a ng-href="{{parent.url}}">
    {{parent.title}}
</a></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right edit-buttons" ng-if="!!editTemplate">
            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-default" cat-confirm-click cat-on-confirm="remove()"
                        cat-element-visible="cat.base.delete" cat-element-data="config">
                    <span cat-icon="remove" size="xs"></span>
                    <span cat-i18n="cc.catalysts.general.delete">Delete</span>
                </button>
                <button type="button" class="btn btn-xs btn-default" cat-confirm-click cat-on-confirm="copy()"
                        cat-element-visible="cat.base.copy" cat-element-data="config">
                    <span class="glyphicon glyphicon-duplicate"></span>
                    <span cat-i18n="cc.catalysts.general.copy">Copy</span>
                </button>
                <button type="button" class="btn btn-xs btn-default" ng-click="edit()"
                        cat-element-visible="cat.base.edit" cat-element-data="config"
                        cat-activate-on-shortcut="alt+e"><span cat-icon="edit" size="xs"></span>
                    <span cat-i18n="cc.catalysts.general.edit">Edit</span>
                </a>
            </div>
            &nbsp;
            <a ui-sref="^.detail({id: 'new'})" class="btn btn-xs btn-default"
               cat-element-visible="cat.base.new" cat-element-data="config">
                <span cat-icon="create" size="xs"></span>
                <span cat-i18n="cc.catalysts.general.new">New</span></a>
        </div>
        <h5>{{title()}}</h5>
    </div>
    <!-- create form element if editing -->
    <div class="panel-body">
        <div ng-include="mainViewTemplate"></div>
    </div>
</div>
<div ng-if="!!additionalViewTemplate" ng-include="additionalViewTemplate"
     ng-controller="baseTabsController"></div>