<ul class="nav navbar-nav">
    <li class="dropdown" ng-repeat="menu in getMenus()" dropdown="">
        <a href="" class="dropdown-toggle" ng-if="isVisible(menu)" dropdown-toggle="">
            <span cat-i18n="cc.catalysts.cat-menu.menu.{{menu.completeId}}">{{menu.getOptions().name}}</span> <b
                class="caret"></b>
        </a>
        <ul class="dropdown-menu" ng-if="isVisible(menu)">
            <li ng-repeat="entry in menu.getFlattened() track by entry.id" ng-if="isVisible(entry)"
                ng-class="{'dropdown-header': entry.isGroup()}"
                ng-switch data-on="entry.isGroup()">
                <a ng-href="#{{entry.getOptions().path}}" ng-switch-when="false">
                    <span cat-i18n="cc.catalysts.cat-menu.entry.{{entry.completeId}}">
                        {{entry.getOptions().name}}
                    </span> <span ng-if="entry.getOptions().keymap"
                                  class="text-muted">{{entry.getOptions().keymap}}</span>
                </a>
                <span ng-switch-default
                      cat-i18n="cc.catalysts.cat-menu.group.{{entry.completeId}}">
                    {{entry.getOptions().name}}
                </span>
            </li>
        </ul>
    </li>
</ul>