<div>
    <ul class="nav">
        <li ng-repeat="facet in listData.facets" ng-if="listData.facets" ng-init="initFacets()">
            <label cat-i18n="{{'cc.catalysts.cat-facets.facet.'+facet.name}}" i18n-params="{facet: facet}">{{facetName(facet)}}</label>
            <select class="form-control" ui-select2="facetSelectOptions" ng-model="facets[facet.name]"
                    ng-change="facetChanged(facet)">
                <option></option>
                <option ng-repeat="term in facet.terms" value="{{term.id}}">{{term.name}} ({{term.count}})
                </option>
            </select>
            <br>
        </li>
    </ul>
</div>