<div class="sidebar">
    <ul class="nav sidenav">
        <li ng-repeat="facet in facets">
            <h4>{{facetName(facet)}}</h4>
            <ul class="nav">
                <li ng-repeat="term in facet.terms" ng-class="{'active': isActive(facet,term)}">
                    <span>
                        <a ng-if="!isActive(facet,term)" href="" ng-click="setActive(facet, term)">{{term.name}}</a>
                        <span ng-if="isActive(facet,term)">{{term.name}} <a href="" ng-click="remove(facet)"><span
                                class="glyphicon glyphicon-remove"></span></a></span>
                        <span class="text-muted">({{term.count}})</span>
                    </span>
                </li>
            </ul>
        </li>
    </ul>
</div>