<div ng-repeat="parent in uiStack" class="alert alert-info"><a ng-href="{{parent.url}}">
    {{parent.title}}
</a></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right edit-buttons" ng-if="!editDetail && !!editTemplate">
            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-default" cat-confirm-click cat-on-confirm="remove()"
                        cat-element-visible="cat.base.delete" cat-element-data="config">
                    <span cat-icon="remove" size="xs"></span>
                    <span cat-i18n="cc.catalysts.general.delete">Delete</span>
                </button>
                <button type="button" class="btn btn-xs btn-default" cat-confirm-click cat-on-confirm="copy()"
                        cat-element-visible="cat.base.copy" cat-element-data="config">
                    <span class="glyphicon glyphicon-duplicate"></span>
                    <span cat-i18n="cc.catalysts.general.copy">Copy</span>
                </button>
                <button type="button" class="btn btn-xs btn-default" ng-click="edit()"
                        cat-element-visible="cat.base.edit" cat-element-data="config"
                        cat-activate-on-shortcut="alt+e"><span cat-icon="edit" size="xs"></span>
                    <span cat-i18n="cc.catalysts.general.edit">Edit</span>
                </button>
            </div>
            &nbsp;
            <a ui-sref="^.detail({id: 'new'})" class="btn btn-xs btn-default"
               cat-element-visible="cat.base.new" cat-element-data="config">
                <span cat-icon="create" size="xs"></span>
                <span cat-i18n="cc.catalysts.general.new">New</span></a>
        </div>
        <h5 ng-if="exists">{{title()}}</h5>
        <h5 ng-if="!exists" cat-i18n="cc.catalysts.general.new">New</h5>
    </div>
    <!-- create form element if editing -->
    <div class="panel-body">
        <form name="form" novalidate class="form-horizontal"
              ng-if="!!editDetail && !!editTemplate">
            <div ng-include="editTemplate"></div>
        </form>

        <div ng-include="mainViewTemplate" ng-if="!editDetail"></div>
    </div>
    <div class="panel-footer text-right" ng-if="!!editDetail">
        <button type="button" class="btn btn-xs btn-default" ng-click="cancelEdit()"
                cat-activate-on-shortcut="alt+esc"><span class="glyphicon glyphicon-remove"></span>
            <span cat-i18n="cc.catalysts.general.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-xs btn-primary" ng-click="save()"
                ng-disabled="form.$pristine"><span class="glyphicon glyphicon-floppy-disk"></span>
            <span cat-i18n="cc.catalysts.general.save">Save</span>
        </button>
    </div>
</div>
<div ng-if="!editDetail && !!additionalViewTemplate" ng-include="additionalViewTemplate"
     ng-controller="baseTabsController"></div>