.opacity(@opacity) {
  opacity: @opacity;
  @msOpacity: @opacity * 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{msOpacity})";
}

.cat-input + .label {
  float: left;
  margin-bottom: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  > ul {
    margin: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    list-style-type: none;
  }
}

// fade animation
.ng-hide-animation(@opacity) {
  &.fade-in {
    &.ng-hide {
      &-add, &-remove {
        transition: 0.2s ease all;
        display: block !important;
      }
      &-add {
        .opacity(@opacity);
        &.ng-hide-add-active {
          .opacity(0);
        }
      }
      &-remove {
        &.ng-hide-remove-active {
          .opacity(@opacity);
        }
      }
    }
  }
}

.spinner-background {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  background: black;
  border: 2px solid white;
  height: 60px;
  width: 60px;
  z-index: 4000;
  border-radius: 5px;
}

.spinner-backdrop {
  z-index: 3000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  .opacity(0.5);
  .ng-hide-animation(0.5);
}

.spinner {
  /* important is needed to override element style attribute set by spin.js */
  position: fixed !important;
}

.dropdown-submenu {
  position:relative;
  & > a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
  }
  &:hover {
    & > .dropdown-menu {
      display: block;
      top:0;
      left:100%;
      margin-top:-6px;
      margin-left:-1px;
    }
  }
}
